header {
    background-color: rgb(62, 94, 192);
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    height:auto;
    border-bottom: 2px solid #ccc;

  }

#header-title {
    font-size: 80px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top:10px;
    margin-bottom: 0px;
    width:100%;
  }

nav {
    display:flex;
    width:100%;
    justify-content: space-evenly;
      }

nav a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

main {
    /* width:800px; */
    height:auto;
    align-items: center;
    justify-content: center;
    margin-top:20px;
    margin-bottom:50px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    /* max-width:500px; */
  }
  
.gallery img {
    max-width: 100%;
    height: auto;
  }
  
.footer-container {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 229, 229);
    flex: wrap;
    vertical-align: top;

}

.footer-column {
    padding-right:40px;
}

/* media query for mobile */
@media (min-width: 320px) {
    header{
        background-color:rgb(140, 207, 234)
    }

    }

/* Medium and up (Tablets) */
@media (min-width: 768px) {
    header {
        background-color: rgb(200, 172, 48)
    }

  }

/* Large and up (Desktops) */
@media (min-width: 992px) {
    header {
        background-color: rgb(70, 64, 234);
    }

  }